# Ignore Visual Studio temporary files, build results, and
# build directories
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build output directories
bin/
obj/
out/

# Ignore NuGet packages
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore user-specific files
*.rsuser
*.user
*.userprefs

# ASP.NET specific ignores
appsettings*.json

# Publish outputs
publish/
wwwroot/

# Log files
*.log

# Resharper, Rider and DotCover
.idea/
*.DotSettings.user
_ReSharper*/
